@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap");

:root {
  --white: white;
  --gold: palegoldenrod;
  --grey: grey;
  --lightgrey: lightgrey;
  --beige: beige;
  --green: palegreen;
  --red: palevioletred;
  --lightgrey: lightgrey;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 200%;
  margin-block: 2rem;
}
h2 {
  font-size: 150%;
  margin-block: 1.5rem;
}
h3 {
  font-size: 135%;
  margin-block: 1rem;
}

p {
  margin-block: 1rem;
}

header {
  text-align: center;
}

a {
  color: var(--red);
  cursor: pointer;
}

a:hover:not(.deactivated) {
  text-decoration: underline;
}

a.deactivated {
  display: none;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--grey);
  cursor: pointer;
}

button:hover {
  background-color: var(--lightgrey);
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--grey);
  margin-right: 1rem;
}

label {
  font-family: "Roboto Mono", monospace;
  word-break: break-all;
  line-height: 1.5;
  font-size: 85%;
  width: 100%;
}

.timer {
  text-align: end;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.options div {
  border: 1px solid white;
  display: flex;
  cursor: pointer;
}

.options div * {
  cursor: pointer;
}

.options div:hover {
  border: 1px solid var(--grey);
}

.options div:nth-child(odd) {
  background-color: beige;
}

.options input[type="radio"] {
  margin: 0;
  margin-right: 0.5rem;
}

.container {
  width: 75%;
  margin: auto;
  max-width: 555px;
}

.introduction {
  text-align: center;
}

.question {
  display: none;
}

.message {
  visibility: hidden;
}

.message.error {
  color: darkred;
}

.message.success {
  color: darkgreen;
}

.fade-animation {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.message {
  padding-top: 1rem;
}

.results input {
  margin-bottom: 1rem;
}

.leaderboard {
  padding-top: 1rem;
}
.leaderboard > div {
  border: 1px solid white;
  padding-block: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.leaderboard > div:nth-child(odd) {
  background-color: var(--beige);
}

.leaderboard > div:first-child {
  background-color: var(--gold);
}

.leaderboard > div.latest-entry {
  background-color: var(--green);
}

.leaderboard > div > span:nth-child(1) {
  width: 6ch;
}

.leaderboard > div > span:nth-child(2) {
  width: 4ch;
  text-align: center;
}

.leaderboard > div > span:nth-child(3) {
  width: 6ch;
  text-align: right;
}
